# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# Alembic
# migrations/versions/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test
.coverage
htmlcov/

# Node
node_modules/

# Build
build/
dist/
*.egg-info/
.history/
