fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
python-dotenv
pydantic
passlib[bcrypt]
python-jose
sendgrid
slowapi
pydantic-settings
email-validator
pydantic[email]
requests
bcrypt>=4.0.1
passlib>=1.7.4
httpx
